---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="CS 46x Senior Software Engineering Project | Alex Ulbrich">
  <main class="m-auto max-w-prose p-6">
    <h1 class="text-3xl font-bold">CS 46x Senior Software Engineering Project</h1>
  </main>
</Layout>
