---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
---

<!-- <code class="bg-slate-200 text-slate-500 rounded-sm py-1 px-2">src/pages</code> -->
<Layout title="Courses | Alex Ulbrich">
  <main class="m-auto max-w-prose p-6">
    <h1 class="text-3xl font-bold">
      Alex Ulbrich <span class="text-gradient">Courses</span>
    </h1>
    <div class="pros my-4 p-4 border-2 rounded-lg">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
    <ul role="list" class="grid grid-cols-1 gap-4 p-0">
      <Card href="/cs312/" title="CS 312" body="System Administration" />
      <Card href="/cs362/" title="CS 362" body="Software Engineering II" />
      <Card
        href="/cs46x/"
        title="CS 461, 462, 463"
        body="Senior Software Engineering Project"
      />
    </ul>
	<Footer />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  /* .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  } */
  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
