---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="CS 312 System Administration | Alex Ulbrich">
  <main class="m-auto max-w-prose p-6">
    <h1 class="text-3xl font-bold">CS 312 System Administration</h1>
  </main>
</Layout>
